{% extends "base.html" %}

{% block homepage %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <marquee behavior="scroll" direction="left"><h1>      </h1></marquee>
    <marquee behavior="scroll" direction="left"><h1>      </h1></marquee>
    <marquee behavior="scroll" direction="right"><h1> <div class="spinner-border"></div>   </h1></marquee>


    <marquee behavior="scroll" direction="left"><h1> Welcome     </h1></marquee>
    <marquee behavior="scroll" direction="left"><h1> &ensp; &ensp;  to    </h1></marquee>
    <marquee behavior="scroll" direction="left"><h1>&ensp; &ensp; &ensp; &ensp; my   </h1></marquee>
    <marquee behavior="scroll" direction="left"><h1> &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;    django  </h1></marquee>
    <marquee behavior="scroll" direction="left"><h1>  &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;    blogsite!! </h1></marquee>
    <marquee behavior="scroll" direction="right"><h1>  &emsp;&emsp;&emsp; &emsp;  <div class="spinner-border"></div>   </h1></marquee>
    
    
    <!-- <div class="spinner-border"></div>   </h1></marquee> -->



    <!-- 

<h1> Welcome to my django blogsite!! </h1> -->

    
</body>
</html>

{% endblock %}